:root {
    --red: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    height: 100vh;
    width: 100vw;
} */

/* .carousel-inner {
    height: 100vh;
}

.carousel-item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */

/* .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
/* .carousel-item {
     position: relative;
  display: none;
} */
 
/* 
.carousel-inner .carousel-item img { 
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.carousel-caption h5 {
    color: var(--red) !important;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
}

.carousel-caption p {
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
}

.carousel-indicators button {
    background-color: var(--red) !important;
    height: 0.4rem !important;
    width: 3rem !important;
    margin-right: 0.7rem !important;
} */


:root {
    --red: #dc3545;
  }
  
  /*! ---------------------- 1- NAVBAR ----------------------------- */
  .navbar-light {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(59, 59, 59);
    transition: color 1s;
  }
  
  .navbar-light .nav-link:hover {
    color: var(--red);
  }
  /*! ---------------------- 2- CAROUSEL ----------------------------- */
  .carousel-item {
    height: calc(100vh - 88px);
  }
  .carousel-item h1 {
    color: var(--red);
    text-shadow: 2px 2px 2px black;
  }
  
  /*! ------------------- 3- ABOUT SECTION ------------------------ */
  
  /*! ------------------- 4- INSTRUCTORS ------------------------ */
  
  /*! ------------------- 4- STUDENTS SECTION ------------------------ */
  
  /*! ------------------- 5- COURSES SECTION ------------------------ */
  
  /*! ------------------- 6- CONTACT SECTION ------------------------ */
  
  /** ------------------- UP-BUTTON --------------------- */
  
  /*! -------------------- 7- FOOTER ------------------------ */
  